* {
    margin: 0;
    padding: 0;
}

#pika {
    transition-duration: 1.5s;
    transition-property: all;
    transition-timing-function: ease;
}

#pika:hover {
    transform: rotate(360deg);
}

#main_img {
    border: 2px solid rgb(65, 63, 207);
    transition-duration: 0.5s;
    transition-property: all;
}

#main_img:hover {
    border: 2px solid rgb(211, 50, 50);
}

nav {
    color: rgb(124 red, 58 green, 237 blue);
    transition-duration: 0.3s;
    transition-property: all;
    transition-timing-function: ease-in-out;
    display: relative;
}

nav:hover {
    color: rgb(176, 84, 184);
}

#pika_foot {
    margin-left: 47%;
}

#footer {
    border-radius: 10px;
    background-color: rgb(190, 186, 186);
}
